<div
  [ngClass]="checkForClass('bg', 'item')"
  class="bef p-3 m-3 d-flex flex-wrap flex-column flex-md-row justify-content-evenly align-items-center bef-rounded-1rem"
>
  <p
    *ngIf="inputActive === false"
    [innerHTML]="itemList.item | safeHtml"
    class="m-0 bef bef-w-90per bef-w-md-70per"
    (click)="inputActiveChange()"
  ></p>
  <textarea
    *ngIf="inputActive === true"
    type="text"
    name="item"
    #item="ngModel"
    [(ngModel)]="itemList.item"
    class="form-control bef bef-w-90per bef-w-md-70per"
    id="exampleFormControlInput1"
    placeholder="{{ itemList.item }}"
    (keyup.enter)="changeInfo(itemList.item, 'item')"
  ></textarea>

  <div
    class="btn-group bef bef-mt-1_5rem bef-mt-md-0 bef bef-w-66per bef-w-md-20per"
    dropdown
    placement="bottom right"
  >
    <button
      id="button-animated"
      dropdownToggle
      type="button"
      class="btn bef dropdown-toggle bef-boxShadow-0px__0px__8px__dark w-100"
      [ngClass]="checkForClass('btn', 'type_' + itemList.type)"
      aria-controls="dropdown-animated"
    >
      <ng-container *ngIf="itemList.type < 0; else elseTemplate">
        Choose a type
      </ng-container>
      <ng-template #elseTemplate>
        {{ options[itemList.type].option }}
      </ng-template>
      <span class="caret"></span>
    </button>
    <ul
      id="dropdown-animated"
      *dropdownMenu
      class="dropdown-menu p-0 w-100"
      role="menu"
      aria-labelledby="button-animated"
    >
      <li
        *ngFor="let option of options; let ix = index; let $last = last"
        [exist]="$last"
        (ngInit)="cssCreate()"
        role="menuitem"
      >
        <button
          [ngClass]="checkForClass('btn', 'type_' + ix)"
          class="btn bef w-100"
          (click)="changeInfo(ix, 'type')"
        >
          <span [ngClass]="{ 'text-dark': !option.color.includes('dark') }">
            {{ option.option }}
          </span>
        </button>
      </li>
    </ul>
  </div>
</div>
<p *ngIf="inputActive === true" class="text-center">
  Press "Enter" to Send.
  <br />
  If the item is empty it will be deleted.
</p>
