<div
  [ngClass]="
    checkIfItemListInterface(itemList)
      ? checkForClass('bg', 'item')
      : !checkIfItemListInterface(itemList)
      ? checkForClass('bg', 'option')
      : {}
  "
  class="bef p-3 m-3 d-flex flex-wrap flex-column flex-md-row justify-content-between align-items-center bef-rounded-1rem bef-boxShadow-0px__0px__2px__dark"
>
  <div
    *ngIf="inputActive === false"
    class="d-flex justify-content-between align-items-center bef bef-w-90per bef-w-md-70per"
  >
    <div
      [innerHTML]="
        checkIfItemListInterface(itemList)
          ? (changeSomething(itemList.item) | safeHtml)
          : !checkIfItemListInterface(itemList)
          ? (itemList.option | safeHtml)
          : ('' | safeHtml)
      "
      class="m-0 bef bef-w-calcSD100per__MIN__50pxED text-center"
      [ngClass]="{
        'text-light':
          (checkIfItemListInterface(itemList) &&
            checkIfOptionInterface(options) &&
            (itemList.type < 0 ||
              (!!options[itemList.type] &&
                options[itemList.type].color.includes('dark')))) ||
          (!checkIfItemListInterface(itemList) &&
            !checkIfOptionInterface(options) &&
            options[getColorIndex(itemList.color)].includes('dark'))
      }"
    ></div>
    <button
      (click)="inputActiveChange()"
      class="btn btn-light text-dark mx-2 bef bef-rounded-100px bef-boxShadow-0px__0px__4px__dark"
    >
      <span [innerHTML]="getHTML('edit', '12') | safeHtml"></span>
    </button>
  </div>
  <div
    *ngIf="inputActive === true"
    class="d-flex justify-content-between align-items-center bef bef-w-90per bef-w-md-70per"
  >
    <textarea
      *ngIf="checkIfItemListInterface(itemList)"
      type="text"
      name="item"
      #item="ngModel"
      [(ngModel)]="itemList.item"
      class="form-control bef bef-w-calcSD100per__MIN__50pxED"
      id="exampleFormControlInput1"
      placeholder="{{ itemList.item }}"
    ></textarea>
    <textarea
      *ngIf="!checkIfItemListInterface(itemList)"
      type="text"
      name="item"
      #item="ngModel"
      [(ngModel)]="itemList.option"
      class="form-control bef bef-w-calcSD100per__MIN__50pxED"
      id="exampleFormControlInput1"
      placeholder="{{ itemList.option }}"
    ></textarea>
    <button
      (click)="
        checkIfItemListInterface(itemList)
          ? changeInfo(itemList.item, 'item')
          : changeInfo(itemList.option, 'option')
      "
      class="btn btn-light text-dark mx-2 bef bef-rounded-100px bef-boxShadow-0px__0px__4px__dark"
    >
      <span [innerHTML]="getHTML('acept', '12') | safeHtml"></span>
    </button>
  </div>
  <div
    class="btn-group bef bef-mt-1_5rem bef-mt-md-0 bef bef-w-66per bef-w-md-20per"
    dropdown
    placement="bottom right"
  >
    <button
      id="button-animated"
      dropdownToggle
      type="button"
      class="btn bef dropdown-toggle bef-boxShadow-0px__0px__8px__dark w-100"
      [ngClass]="
        checkIfItemListInterface(itemList)
          ? checkForClass('btn', 'item')
          : !checkIfItemListInterface(itemList)
          ? checkForClass('btn', 'color_' + getColorIndex(itemList.color))
          : {}
      "
      aria-controls="dropdown-animated"
    >
      <span
        [ngClass]="{
          'text-light':
            (checkIfItemListInterface(itemList) &&
              checkIfOptionInterface(options) &&
              (itemList.type < 0 ||
                (!!options[itemList.type] &&
                  options[itemList.type].color.includes('dark')))) ||
            (!checkIfItemListInterface(itemList) &&
              !checkIfOptionInterface(options) &&
              options[getColorIndex(itemList.color)].includes('dark'))
        }"
      >
        <ng-container
          *ngIf="
            (checkIfItemListInterface(itemList) && itemList.type < 0) ||
              (!checkIfItemListInterface(itemList) && itemList.color === '');
            else elseChooseTemplate
          "
        >
          Choose a
          <ng-container
            *ngIf="
              checkIfItemListInterface(itemList);
              else elseNotChooseTemplate
            "
          >
            type
          </ng-container>
          <ng-template #elseNotChooseTemplate> color </ng-template>
        </ng-container>
        <ng-template #elseChooseTemplate>
          <ng-container
            *ngIf="
              checkIfItemListInterface(itemList) &&
                checkIfOptionInterface(options);
              else elseYesChooseTemplate
            "
          >
            {{ !!options[itemList.type] ? options[itemList.type].option : "" }}
          </ng-container>
          <ng-template #elseYesChooseTemplate>
            {{
              !checkIfItemListInterface(itemList)
                ? options[getColorIndex(itemList.color)]
                : ""
            }}
          </ng-template>
        </ng-template>
        <span class="caret"></span>
      </span>
    </button>
    <ul
      id="dropdown-animated"
      *dropdownMenu
      class="dropdown-menu p-0 w-100"
      role="menu"
      aria-labelledby="button-animated"
    >
      <ng-container
        *ngIf="
          checkIfItemListInterface(itemList) && checkIfOptionInterface(options);
          else elseOptionsToChooseTemplate
        "
      >
        <li
          *ngFor="let option of options; let ix = index; let $last = last"
          [exist]="$last"
          (ngInit)="cssCreate()"
          role="menuitem"
        >
          <button
            [ngClass]="checkForClass('btn', 'type_' + ix)"
            class="btn bef w-100"
            (click)="changeInfo(ix, 'type')"
          >
            <span [ngClass]="{ 'text-dark': !option.color.includes('dark') }">
              {{ option.option }}
            </span>
          </button>
        </li>
      </ng-container>
      <ng-template #elseOptionsToChooseTemplate>
        <ng-container
          *ngIf="
            !checkIfItemListInterface(itemList) &&
            !checkIfOptionInterface(options)
          "
        >
          <li
            *ngFor="let option of options; let ix = index; let $last = last"
            [exist]="$last"
            (ngInit)="cssCreate()"
            role="menuitem"
          >
            <button
              [ngClass]="checkForClass('btn', 'color_' + ix)"
              class="btn bef w-100"
              (click)="changeInfo(option, 'color')"
            >
              <span [ngClass]="{ 'text-dark': !option.includes('dark') }">
                {{ option }}
              </span>
            </button>
          </li>
        </ng-container>
      </ng-template>
    </ul>
  </div>
</div>
<p *ngIf="inputActive === true" class="text-center">
  If the item is empty it will be deleted.
</p>
